body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#search-bar
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
#search-bar input
{
  width: 50%;
  height: 20px;
  padding: 10px;
  font-size:20px;
}
#search-bar button
{
  width: 20%;
  padding: 8px;
  font-size: 20px;
}

.profile {
    display: flex;
    align-items: center; 
}

.image-container {
    margin: 20px 50px;
}

.details-container {
    display: flex;
    flex-direction: column;
}

.details-container section
{
    display: flex;
    align-items: center;
}

.details-container img
{
    width: 20px;
    margin-right: 15px;
}

.image-container img {
    width: 250px;
    border-radius: 50%;
    border: 8px double #d3d3d3;
}

#url
{
    display: flex;   
    align-items: center;
    margin: 30px 0px 40px 40px;  
}

#url img
{
 width: 30px;
}
#repo-count
{
    display: none;
   margin-left:70% ;     
}

#repositories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
    height: 75vh;
    overflow-y: scroll;
    position: relative;
    /* background-color: aqua; */
}

.repository {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    text-wrap:wrap;

}

.repo_description
{
    /* background-color: aqua; */
    font-size: small;
    font-family:monospace;
}

.repository button {
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: aliceblue;
    font-weight: 800;
    border: none;
    margin: 5px;
}

#page-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
/* --------------------- */
#page-containers > * {
    display: none;
}

#page-containers.show-children > * {
    display: flex;
 
}
#page-shift-container {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

#page-shift-container li {
    display: block;
    border: 1px solid #ccc;
    padding: 1px 5px;
    cursor: pointer;
    /* margin: 0 5px;  */
}
#prev,
#next {
    border: 1px solid #ccc;
    padding: 5px 10px;
    /* margin: 0 5px;  */
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }

    .image-container img {
        max-width: 100%; /* Set maximum width for the image */
    }

    #repositories {
        grid-template-columns: 1fr;
    }
    #search-bar button
    {
      width: 50%;
      padding: 13px;
      font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    #repositories {
        grid-template-columns: 1fr;
    }

    .repository button {
        width: 100%; /* Make buttons full width on smaller screens */
    }

    #page-shift-container li {
        padding: 10px;
        margin: 5px; /* Adjust padding and margin for list items */
    }

    #prev,
    #next {
        width: 100%; /* Make prev and next buttons full width on smaller screens */
    }
    #search-bar button
    {
      width: 60%;
      padding: 8px;
      font-size: 20px;
    }
    #search-bar input
    {
    width: 50%;
    height: 19px;
    padding: 10px;
    font-size: 20px;
    }
}



/* loading */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
/* background-color: #3498db; */
position: absolute;
top: 30%;
left: 45%;
/* display:none; */
  }
  
.loaderActive
{
    display:none;
}
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }